<%= form_with(model: movie, local: true) do |form| %>
  <% if movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
      <% movie.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :actresses %>
    <%= form.text_field :actresses, id: :movie_actresses %>
  </div>

  <div class="field">
    <%= form.label :actress_types %>
    <%= form.text_field :actress_types, id: :movie_actress_types %>
  </div>

  <div class="field">
    <%= form.label :categories %>
    <%= form.text_field :categories, id: :movie_categories %>
  </div>

  <div class="field">
    <%= form.label :code %>
    <%= form.text_field :code, id: :movie_code %>
  </div>

  <div class="field">
    <%= form.label :cover_image %>
    <%= form.text_field :cover_image, id: :movie_cover_image %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :movie_description %>
  </div>

  <div class="field">
    <%= form.label :directors %>
    <%= form.text_field :directors, id: :movie_directors %>
  </div>

  <div class="field">
    <%= form.label :genres %>
    <%= form.text_field :genres, id: :movie_genres %>
  </div>

  <div class="field">
    <%= form.label :label %>
    <%= form.text_field :label, id: :movie_label %>
  </div>

  <div class="field">
    <%= form.label :maker %>
    <%= form.text_field :maker, id: :movie_maker %>
  </div>

  <div class="field">
    <%= form.label :movie_length %>
    <%= form.text_field :movie_length, id: :movie_movie_length %>
  </div>

  <div class="field">
    <%= form.label :page %>
    <%= form.text_field :page, id: :movie_page %>
  </div>

  <div class="field">
    <%= form.label :release_date %>
    <%= form.text_field :release_date, id: :movie_release_date %>
  </div>

  <div class="field">
    <%= form.label :sample_images %>
    <%= form.text_field :sample_images, id: :movie_sample_images %>
  </div>

  <div class="field">
    <%= form.label :series %>
    <%= form.text_field :series, id: :movie_series %>
  </div>

  <div class="field">
    <%= form.label :tags %>
    <%= form.text_field :tags, id: :movie_tags %>
  </div>

  <div class="field">
    <%= form.label :thumbnail_image %>
    <%= form.text_field :thumbnail_image, id: :movie_thumbnail_image %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :movie_title %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
