<% if signed_in? %>
  <nav id="voteNav" class="mb-3">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link">
          Votes:
        </a>
      </li>
      <% ["all", "up", "down", "bookmark", "none"].each do |vote| %>
        <li class="nav-item">
          <%= link_to(
            vote.titleize,
            request.params.merge(vote: vote),
            class: (@vote == vote ? 'nav-link active' : 'nav-link')
          ) %>
        </li>
      <% end %>
    </ul>
  </nav>

  <% if current_user.is_admin? %>
    <nav id="resourceNav" class="mb-3">
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link">
            Resources:
          </a>
        </li>
        <% ["all", "any", "none"].each do |resource| %>
          <li class="nav-item">
            <%= link_to(
              resource.titleize,
              request.params.merge(resource: resource),
              class: (@resource == resource ? 'nav-link active' : 'nav-link')
            ) %>
          </li>
        <% end %>
      </ul>
    </nav>
  <% end %>
<% end %>

<%= render partial: '/movies/pager', object: @movies %>

<% @movies.in_groups_of(4).each do |group| %>
  <div class="card-deck mb-3">
    <% group.each do |movie| %>
      <div class="card">
        <% if movie %>
          <%= link_to image_tag(movie.cover_image, class: "card-image-top img-fluid"), movie%>
          <div class="card-body">
            <%= link_to movie, class: 'card-title' do %>
              <span><%= movie.code %></span>
              <span><%= movie.title %></span>
            <% end %>
          </div>
          <div class="card-footer text-right">
            <%= render partial: '/movies/voter', locals: { movie: movie, height: nil } %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>

<%= render partial: '/movies/pager', object: @movies %>