<% if signed_in? %>
  <nav id="voteNav" class="mb-3">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link">
          Votes:
        </a>
      </li>
      <% ["all", "up", "down", "none"].each do |vote| %>
        <li class="nav-item">
          <%= link_to(
            vote.titleize,
            request.params.merge!(vote: vote),
            class: (@vote == vote ? 'nav-link active' : 'nav-link')
          ) %>
        </li>
      <% end %>
    </ul>
  </nav>
<% end %>

<%= render partial: '/movies/pager', object: @movies %>

<% @movies.in_groups_of(4).each do |group| %>
  <div class="card-deck mb-3">
    <% group.each do |movie| %>
      <div class="card">
        <% if movie %>
          <%= image_tag movie.cover_image, class: "card-image-top img-fluid"%>
          <div class="card-body">
            <%= link_to movie, class: 'card-title' do %>
              <span><%= movie.code %></span>
              <span><%= movie.title %></span>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>

<%= render partial: '/movies/pager', object: @movies %>