<h1>
  <span><%= @movie.code %></span>
  <span><%= @movie.title %></span>
</h1>

<div class="row mt-3">
  <div class="col-8">
    <%= render partial: '/movies/carousel', object: [@movie.cover_image] + (@movie.sample_images || []) %>
    <% if signed_in? %>
      <div class="text-center mt-3">
        <%= render partial: '/movies/voter', locals: { movie: @movie, height: 32 } %>
      </div>
    <% end %>
  </div>
  <div class="col-4">
    <dl>
      <%- @movie.attributes.except("id", "code", "cover_image", "page", "sample_images", "title", "created_at", "updated_at").each do |k, v| -%>
        <%- unless v.blank? -%>
          <dt><%= k.titleize %></dt>
          <dd>
            <%- if v.is_a? Array -%>
              <ul class="list-inline">
                <%- v.each do |i| -%>
                  <li class="list-inline-item"><%= i %></li>
                <%- end -%>
              </ul>
            <%- else -%>
              <%= v %>
            <%- end -%>
          </dd>
        <%- end -%>
      <%- end -%>
      <dt>Data Source</dt>
      <dd><%= link_to @movie.page, @movie.page %></dd>
    </dl>
  </div>
</div>

<% if signed_in_as_admin? && @movie.resources %>
  <table class="table table-striped mt-3" id="resources">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Download URI</th>
        <th scope="col">Source URI</th>
        <th scope="col">Note</th>
      </tr>
    </thead>
    <tbody>
      <% @movie.resources.each do |resource| %>
        <tr>
          <td><%= link_to resource.download_uri, resource.download_uri %></td>
          <td><%= resource.source_uri %></td>
          <td><%= resource.note %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
