<h1>
  <span><%= @movie.code %></span>
  <span><%= @movie.title %></span>
</h1>

<div class="row mt-3">
  <div class="col-8">
    <%= image_tag @movie.cover_image, class: "img-fluid"%>
    <% if signed_in? %>
      <div class="text-center mt-3">
        <%= upvote_link(@movie) %>
        <%= downvote_link(@movie) %>
      </div>
    <% end %>
  </div>
  <div class="col-4">
    <dl>
      <%- @movie.attributes.except("id", "code", "cover_image", "page", "title", "created_at", "updated_at").each do |k, v| -%>
        <%- unless v.blank? -%>
          <dt><%= k.titleize %></dt>
          <dd>
            <%- if v.is_a? Array -%>
              <ul class="list-inline">
                <%- v.each do |i| -%>
                  <li class="list-inline-item"><%= i %></li>
                <%- end -%>
              </ul>
            <%- else -%>
              <%= v %>
            <%- end -%>
          </dd>
        <%- end -%>
      <%- end -%>
      <dt>Data Source</dt>
      <dd><%= link_to @movie.page, @movie.page %></dd>
    </dl>
  </div>
</div>
