<p id="notice"><%= notice %></p>

<p>
  <strong>Actresses:</strong>
  <%= @movie.actresses %>
</p>

<p>
  <strong>Actress types:</strong>
  <%= @movie.actress_types %>
</p>

<p>
  <strong>Categories:</strong>
  <%= @movie.categories %>
</p>

<p>
  <strong>Code:</strong>
  <%= @movie.code %>
</p>

<p>
  <strong>Cover image:</strong>
  <%= @movie.cover_image %>
</p>

<p>
  <strong>Description:</strong>
  <%= @movie.description %>
</p>

<p>
  <strong>Directors:</strong>
  <%= @movie.directors %>
</p>

<p>
  <strong>Genres:</strong>
  <%= @movie.genres %>
</p>

<p>
  <strong>Label:</strong>
  <%= @movie.label %>
</p>

<p>
  <strong>Maker:</strong>
  <%= @movie.maker %>
</p>

<p>
  <strong>Movie length:</strong>
  <%= @movie.movie_length %>
</p>

<p>
  <strong>Page:</strong>
  <%= @movie.page %>
</p>

<p>
  <strong>Release date:</strong>
  <%= @movie.release_date %>
</p>

<p>
  <strong>Sample images:</strong>
  <%= @movie.sample_images %>
</p>

<p>
  <strong>Series:</strong>
  <%= @movie.series %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @movie.tags %>
</p>

<p>
  <strong>Thumbnail image:</strong>
  <%= @movie.thumbnail_image %>
</p>

<p>
  <strong>Title:</strong>
  <%= @movie.title %>
</p>

<%= link_to 'Back', movies_path %>
